trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

pool:
  vmImage: "windows-latest"

variables:
  BuildConfiguration: "Release"

stages:
- stage: CI
  jobs:
  - job: Backend
    displayName: "Backend - build & test"
    steps:
    - task: UseDotNet@2
      inputs:
        packageType: "sdk"
        version: "8.x"

    - script: |
        cd backend/LoginApi
        dotnet restore
        dotnet build -c $(BuildConfiguration) --no-restore
        dotnet test -c $(BuildConfiguration) --no-build
      displayName: "dotnet restore/build/test"

  - job: Frontend
    displayName: "Frontend - build"
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: "20.x"

    - script: |
        cd frontend/login-ui
        npm ci
        npm run build
      displayName: "npm ci & build"
