trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

pool:
  vmImage: "windows-latest"

variables:
  BuildConfiguration: "Release"

stages:
- stage: CI
  jobs:
  - job: Backend
    displayName: "Backend - build & test"
    steps:
    - task: UseDotNet@2
      inputs:
        packageType: "sdk"
        version: "8.x"

    - script: |
        cd backend/LoginApi
        dotnet restore
        dotnet build -c $(BuildConfiguration) --no-restore
        dotnet test -c $(BuildConfiguration) --no-build
      displayName: "dotnet restore/build/test"
    - script: |
        cd backend/LoginApi
        mkdir "$(Build.ArtifactStagingDirectory)\backend" || echo "backend folder exists"
        dotnet publish -c $(BuildConfiguration) -o "$(Build.ArtifactStagingDirectory)\backend"
      displayName: "Backend publish"
    - script: |
        echo "ArtifactStagingDirectory=$(Build.ArtifactStagingDirectory)"
        echo "CurrentDir:"
        cd
        echo "List staging root:"
        dir "$(Build.ArtifactStagingDirectory)"
        echo "List staging backend:"
        dir "$(Build.ArtifactStagingDirectory)\backend"
      displayName: "Debug: list publish output"
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: "$(Build.ArtifactStagingDirectory)\backend"
        ArtifactName: "backend"
        publishLocation: "Container"
      displayName: "Publish backend artifacts"
   

  - job: Frontend
    displayName: "Frontend - build"
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: "20.x"

    - script: |
        cd frontend/login-ui
        npm ci
        npm run build
      displayName: "npm ci & build"
